name: generate terraform otomatis

on:
    push:
        branches:
            -main

jobs:
    bangun-infrastruktur:
        name: deploy ke aws otomatis
        runs-on: ubuntu-latest
        steps:
            - name: checkout Code
              uses: actions/checkout@v3

            - name: Setup terraform
              uses: hashicorp/setup-terraform@v1
              with:
                terraform_version: 1.5.6

            - name: configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ap-southeast-1

            - name: terraform init
              run: terraform init

            - name: terraform apply
              run: terraform apply -auto-approve